.alerts {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

@media only screen and (min-width: 768px) {
    .alerts {
        width: 400px;
        right: 35px;
        position: fixed;
        bottom: 10px;
    }
}

.fade-in {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
